In [26]:
class company:
    compcount = 0
    def __init__(self,name,no_of_employees,head_quarters,revenue):
        self.name = name
        self.no_of_employees = no_of_employees
        self.head_quarters = head_quarters
        self.revenue = revenue
    def display_details(self):
        print('Name: ',self.name,'No.of employees: ', self.no_of_employees,'Head Quarters: ',self.head_quarters,
              'Revenue: ',self.revenue)

In [27]:
comp1 = company('Dell',2345,'Chicago','$7890653')

In [28]:
comp1.display_details()

Name:  Dell No.of employees:  2345 Head Quarters:  Chicago Revenue:  $7890653

In [29]:
comp2 = company('Dell',2345,'Chicago','$7890653')

In [30]:
comp2.display_details()

Name:  Dell No.of employees:  2345 Head Quarters:  Chicago Revenue:  $7890653

In [31]:
comp3 = company('H.P',34333,'NJ','$5663256')

In [23]:
class Employee:
    'Common base class for all employees'
    empCount = 0
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
   
    def displayCount(self):
        print("Total Employee %d" % Employee.empCount)

    def displayEmployee(self):
        print("Name : ", self.name,  ", Salary: ", self.salary)

In [24]:
emp1 = Employee('Sravani',8382738)

In [25]:
emp1.displayEmployee()

Name :  Sravani , Salary:  8382738

In [32]:
class Employee_address(Employee):
    def __int__(self,street,city,state,zipcode):
        self.street = street
        self.city = city
        self.state = state
        self.zipcode = zipcode
    def display_address(self):
        print('Employee Address: ',street,city,state,zipcode)

In [ ]:
e1 = Employee_address
e1.