Topics:

* Hello world 
* Data types
    * Numbers
    * variables
    * List
    * Tuple
    * Set
    * Dictionary
    * String
    * Printing

* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* list comprehension

### Hello world

In [10]:
print('Hello world !!')

Hello world !!

### Data types

####  Numbers

In [114]:
1 + 1

2

In [12]:
1 * 3

3

In [13]:
1 / 2

0.5

In [14]:
2 ** 4

16

In [15]:
4 % 2

0

In [16]:
5 % 2

1

In [17]:
(2 + 3) * (5 + 5)

50

#### Variables

In [18]:
a = 10

In [19]:
type(a)

int

In [20]:
print(a)

10

In [21]:
b = 20.5

In [22]:
type(b)

float

In [23]:
print(b)

20.5

In [24]:
c = True

In [25]:
type(c)

bool

In [26]:
print(c)

True

In [27]:
d = "My string"

In [28]:
type(d)

str

In [19]:
print(d)

My string

#### List

In [50]:
#list
my_list = [1,2,3,1,2,5,1,2]

In [51]:
print(my_list)

[1, 2, 3, 1, 2, 5, 1, 2]

In [52]:
type(my_list)

list

In [53]:
my_list.append(6)

In [54]:
my_list

[1, 2, 3, 1, 2, 5, 1, 2, 6]

In [55]:
my_another_list = [7, 8, 9]

In [56]:
my_list.extend(my_another_list)

In [57]:
my_list

[1, 2, 3, 1, 2, 5, 1, 2, 6, 7, 8, 9]

In [70]:
my_list.count(1)

2

In [79]:
my_list.reverse()

In [80]:
my_list

[10, 2, 3, 1, 2, 5, 1, 2, 6, 7, 8, 9]

In [81]:
len(my_list)

12

In [82]:
min(my_list)

1

In [83]:
max(my_list)

10

In [112]:
sum(my_list)

56

In [84]:
my_list[0]

10

In [62]:
my_list[4]

2

In [85]:
my_list[-1]

9

In [86]:
my_list[2:4]

[3, 1]

In [87]:
my_list[:5]

[10, 2, 3, 1, 2]

In [88]:
my_list[6:]

[1, 2, 6, 7, 8, 9]

In [90]:
my_list[0] = 10

In [91]:
my_list

[10, 2, 3, 1, 2, 5, 1, 2, 6, 7, 8, 9]

In [92]:
my_str_list = ['a','b','c']

In [93]:
my_str_list.append('d')

In [94]:
my_str_list

['a', 'b', 'c', 'd']

In [103]:
my_nest_list = [1,2,3,[4,5,['target','hello']]]

In [104]:
print(my_nest_list)

[1, 2, 3, [4, 5, ['target', 'hello']]]

In [105]:
my_nest_list[3]

[4, 5, ['target', 'hello']]

In [106]:
my_nest_list[3][2]

['target', 'hello']

In [107]:
my_nest_list[3][2][0][0]

't'

##### Assingments 
Examples for below methods of list

append,
clear,
copy,
count,
extend,
index,
insert,
pop,
remove,
reverse,
sort

#### Tuple

In [133]:
t1 = (1,2,3,4,5,6,7,8,9,1,2,3,4,5)

In [134]:
type(t1)

tuple

In [135]:
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

In [136]:
#tuple cant be changed i,e its is immutable
t1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [137]:
#tuple cant be changed i,e its is immutable
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [138]:
len(t1)

14

In [139]:
t1[1]

2

In [140]:
t1[-1]

5

In [141]:
t1[2:7]

(3, 4, 5, 6, 7)

In [142]:
t1[5:]

(6, 7, 8, 9, 1, 2, 3, 4, 5)

In [143]:
t1[:6]

(1, 2, 3, 4, 5, 6)

In [147]:
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

In [148]:
t1.index(3)

2

In [ ]:
t1.count(1)

In [149]:
my_list = list(t1)

In [150]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5]

In [151]:
type(my_list)

list

##### Assingments 

Example for converting list to tuple

#### set

In [152]:
s = {1,2,3,4,1,2,3}

In [153]:
type(s)

set

In [154]:
print(s)

{1, 2, 3, 4}

In [155]:
#Set cant be accessed with index
s[1]

TypeError: 'set' object does not support indexing

In [156]:
len(s)

4

In [157]:
min(s)

1

##### Assingments 
1.Example for all the methods of set

2.list vs tuple with example

3.similarity  of list and tuple 

4.list vs set with example

5.tuple vs set

6.convert set to list and tuple

7.Convert list and tuple to set

#### dictionary

In [161]:
dict1 = {"name":"jhon", "age" :29, "Prog_languages":['python','scala','java']}

In [162]:
type(dict1)

dict

In [163]:
dict1['name']

'jhon'

In [164]:
dict1['Prog_languages']

['python', 'scala', 'java']

In [165]:
dict1['Prog_languages'][2]

'java'

In [166]:
dict1.update({"country" : "India"})

In [103]:
dict1

{'Prog_languages': ['python', 'scala', 'java'],
 'age': 29,
 'country': 'India',
 'name': 'Muhammad'}

##### Assingments 
1.Example for all the methods of dictionary

2.Create dictionary from list,tuple and set

#### String

In [186]:
'single quotes'

'single quotes'

In [187]:
"double quotes"

'double quotes'

In [188]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [180]:
s1 = 'Hello string 1'

In [181]:
type(s1)

str

In [182]:
print(s1)

Hello string 1

In [183]:
s2 = "Hello string 2"

In [184]:
type(s2)

str

In [185]:
print(s2)

Hello string 2

In [174]:
s2[0]

'H'

In [175]:
s2[8]

'r'

In [176]:
s2[-1]

'2'

In [177]:
len(s2)

14

In [131]:
s2_lower = s2.lower()

In [132]:
s2_lower

'hello string 2'

In [134]:
s2.split(" ")

['Hello', 'string', '2']

##### Assingments 
1.Example for all the methods of string

#### Printing

In [191]:
x = 'hello'

In [192]:
print(x)

hello

In [193]:
num = 12
name = 'myname'

In [198]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: myname, and my name is: 12

### Comparison Operators

In [199]:
1 > 2

False

In [200]:
1 < 2

True

In [201]:
1 >= 1

True

In [202]:
1 <= 4

True

In [203]:
1 == 1

True

In [204]:
'hi' == 'bye'

False

### Logic Operators

In [205]:
(1 > 2) and (2 < 3)

False

In [206]:
(1 > 2) or (2 < 3)

True

In [207]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### if,elif, else Statements

In [215]:
if 1 < 2:
    print('Yep!')

Yep!

In [216]:
if 1 > 2:
    print('Yep!')

In [208]:
n = 10

In [218]:
if n > 5:
    print('Yep!')

Yep!

In [220]:
a = 1
b = 2

In [221]:
if a < b:
    print('first')
else:
    print('last')

first

In [222]:
if a > b:
    print('first')
else:
    print('last')

last

In [224]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [225]:
num = 3.4

In [226]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [16]:
num = 0

In [227]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [228]:
num = -1

In [19]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

In [229]:
num = float(input("Enter a number: "))

Enter a number: 10

In [230]:
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

##### Assingments 
1.More example for if,elif,else Statements

2.More example for input

In [231]:
seq = [1,2,3,4,5]

In [232]:
for item in seq:
    print(item)

1
2
3
4
5

In [234]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [233]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [238]:
l = range(20)

In [239]:
l

range(0, 20)

In [240]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [241]:
for i in l:
    print(i+i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [252]:
even_list = []

In [253]:
odd_list = []

In [255]:
for i in l:
    if(i%2==0):
        even_list.append(i)     
    else:
        odd_list.append(i)

In [258]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [259]:
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [260]:
sum = 0

In [261]:
for val in l:
    sum = sum+val

In [262]:
sum

190

In [263]:
programming_languages = ['Python', 'Scala', 'Java']

In [246]:
for p_language in range(len(programming_languages)):
    print("I like {}".format(programming_languages[p_language]))

I like Python
I like Scala
I like Java

##### Assingments 
1.Nested for loop

2.More example with range() function

### while Loops

In [268]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

### list comprehension

In [269]:
x = [1,2,3,4]

In [270]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [271]:
[item**2 for item in x]

[1, 4, 9, 16]

##### Assingments 
1.list comprehension with if condition 

2.Nested for loop in list comprehension