In [120]:
a = {1,2,3,4,5,6}
b = {2,3,7,8,9,10}
tup_01 = (11,12,3,4)
list_01 = [1,2,3,'Hello','World']
dict_01 = {1:'Hello', 2:'world', 'a':"Welcome", 'b':'python programming'}
c = {'python','scala','c','java'}
d = {'java','spark','c++'}

##### Union: Returns the bot the set values

In [80]:
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [81]:
print(c|d)

{'c', 'scala', 'spark', 'java', 'c++', 'python'}

In [82]:
print(a.union(d))

{1, 2, 3, 4, 5, 6, 'spark', 'java', 'c++'}

In [116]:
print(a.union(tup_01))
print(a,tup_01)

{1, 2, 3, 4, 5, 6, 11, 12}
{1, 2, 3, 4, 5, 6} (11, 12, 3, 4)

In [117]:
print(a|tup_01)

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [105]:
print(tup_01.union(a))

AttributeError: 'tuple' object has no attribute 'union'

##### intersection :Return only common values

In [83]:
print(a&b)
print(a)

{2, 3}
{1, 2, 3, 4, 5, 6}

In [84]:
print(c&d)

{'java'}

In [85]:
print(b.intersection(c))
print(b)

set()
{2, 3, 7, 8, 9, 10}

In [86]:
print(a.intersection(b))
print(a)

{2, 3}
{1, 2, 3, 4, 5, 6}

In [110]:
print(a.intersection(list_01))
print(a,list_01)

{1, 2, 3}
{1, 2, 3, 4, 5, 6} [1, 2, 3, 'Hello', 'World']

##### difference : removes the common values and displays the reamaining left side set values

In [24]:
print(a.difference(b))

{1, 4, 5, 6}

In [16]:
print(b-a)

{8, 9, 10, 7}

In [17]:
print(c-d)

{'c', 'python', 'scala'}

In [29]:
print(a.difference(c))

{1, 2, 3, 4, 5, 6}

In [111]:
print(a-tup_01)
print(a-list_01)
print(a,tup_01,list_01)

TypeError: unsupported operand type(s) for -: 'set' and 'tuple'

In [115]:
print(a,tup_01)
print(a.difference(tup_01))

{1, 2, 3, 4, 5, 6} (11, 12, 3, 4)
{1, 2, 5, 6}
{1, 2, 3, 4, 5, 6} [1, 2, 3, 'Hello', 'World']
{4, 5, 6}
{1, 2, 3, 4, 5, 6} (11, 12, 3, 4) [1, 2, 3, 'Hello', 'World']

In [122]:
print(a,list_01)
print(a.difference(list_01))

{1, 2, 3, 4, 5, 6} [1, 2, 3, 'Hello', 'World']
{4, 5, 6}

In [123]:
print(a,tup_01,list_01)

{1, 2, 3, 4, 5, 6} (11, 12, 3, 4) [1, 2, 3, 'Hello', 'World']

##### Symmetric Difference : removes the common values and displays the remaining values of both sets

In [19]:
print(a^b)

{1, 4, 5, 6, 7, 8, 9, 10}

In [20]:
print(c^d)

{'c', 'spark', 'python', 'scala', 'c++'}

In [33]:
print(b.symmetric_difference(c))

{'c', 2, 3, 7, 8, 'python', 9, 10, 'scala', 'java'}

In [34]:
print(c.symmetric_difference(d))

{'c', 'spark', 'python', 'scala', 'c++'}

In [124]:
print(a,dict_01)
print(a.symmetric_difference(dict_01))

{1, 2, 3, 4, 5, 6} {1: 'Hello', 2: 'world', 'a': 'Welcome', 'b': 'python programming'}
{'a', 3, 'b', 4, 5, 6}

##### difference_update : result will be None(indicating the object (set) is mutated), A will be equal to A-B, B will be unchanged

In [40]:
print(a,b,c,d)

{1, 2, 3, 4, 5, 6} {2, 3, 7, 8, 9, 10} {'c', 'python', 'scala', 'java'} {'spark', 'java', 'c++'}

In [136]:
print(a.difference(d))

{1, 2, 3, 4, 5, 6}

In [137]:
print(a,b,c,d)

{1, 2, 3, 4, 5, 6} {2, 3, 7, 8, 9, 10} {'c', 'python', 'scala', 'java'} {'spark', 'java', 'c++'}

In [138]:
print(a.difference_update(b))

None

In [139]:
print(a,b)

{1, 4, 5, 6} {2, 3, 7, 8, 9, 10}

In [140]:
print(tup_01)

(11, 12, 3, 4)

In [141]:
a_diff = a.copy()
print(a_diff)
print(a_diff.difference_update(tup_01))
print(a_diff)

{1, 4, 5, 6}
None
{1, 5, 6}

##### copy and add: if we use "=" the values will changed in the original set , when we use copy() method then original set will not be changed

In [45]:
a1 = a
print(a,a1)

{1, 4, 5, 6} {1, 4, 5, 6}

In [46]:
a1.add(11)
print(a,a1)

{1, 4, 5, 6, 11} {1, 4, 5, 6, 11}

In [47]:
a2 = a.copy()
print(a,a2)

{1, 4, 5, 6, 11} {1, 4, 5, 6, 11}

In [48]:
a2.add("Hello")
print(a,a2)

{1, 4, 5, 6, 11} {1, 4, 5, 6, 'Hello', 11}

##### discard : removes the specified values from the set

In [50]:
print(a.discard(11))
print(a)

None
{1, 4, 5, 6}

##### Clear: clears the set

In [51]:
a3 = a1.copy()

In [52]:
a3.clear()
print(a3)

set()

##### intersection update

In [63]:
a4 = a2.copy()
a4.add(2)
b1 = b.copy()
c1 = c.copy()
print(a4,b1,c1)

{1, 2, 4, 5, 6, 'Hello', 11} {2, 3, 7, 8, 9, 10} {'c', 'python', 'scala', 'java'}

In [67]:
print(a4.intersection_update(b1,c1))
print(a4,b1,c1)

None
set() {2, 3, 7, 8, 9, 10} {'c', 'python', 'scala', 'java'}

In [68]:
print(a4)

set()

In [69]:
a4 = a2.copy()

In [70]:
print(a4)

{1, 4, 5, 6, 'Hello', 11}

In [71]:
print(a4.intersection_update(b1))

None

In [72]:
print(a4)

set()

In [73]:
a4 = a2.copy()
a4.add(2)
a4.add(3)
a4.add(7)
print(a4)

{1, 2, 3, 4, 5, 6, 'Hello', 7, 11}

In [87]:
print(a4.intersection_update(b1))
print(a4,b1)

None
{3, 10, 2, 7} {10, 2, 3, 7}

In [75]:
a4.add(10)
a4.add(20)
print(a4)
b1.intersection_update(a4)
print(a4,b1)

{2, 3, 7, 10, 20}
{2, 3, 7, 10, 20} {10, 2, 3, 7}

In [130]:
print(list_01)
a_01 = a.copy()
print(a_01)

[1, 2, 3, 'Hello', 'World']
{1, 2, 3, 4, 5, 6}

In [127]:
print(a_01.intersection_update(list_01))
print(a_01)

None
{1, 2, 3}

##### isdisjoint

In [88]:
A = {1, 2, 3, 4}
B = {5, 6, 7}
C = {4, 5, 6}

In [89]:
print(A.isdisjoint(B))

True

In [91]:
print(A.isdisjoint(C))

False

In [92]:
A1 = {'a', 'b', 'c', 'd'}
B1 = ['b', 'e', 'f']
C1 = '5de4'
D1 ={1 : 'a', 2 : 'b'}
E1 ={'a' : 1, 'b' : 2}

In [97]:
print(A1.isdisjoint(B1))
print(A1.isdisjoint(E1))
print(A1.isdisjoint(D1))
print(A1.isdisjoint(C1))

False
False
True
False

In [98]:
print(E1.isdisjoint(B1))

AttributeError: 'dict' object has no attribute 'isdisjoint'

In [99]:
print(C1.isdisjoint(B1))

AttributeError: 'str' object has no attribute 'isdisjoint'

In [101]:
print(B1.isdisjoint(E1))

AttributeError: 'list' object has no attribute 'isdisjoint'